## Part 0 : Data Reading

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

### Task A

In [7]:
df=pd.read_csv('DS_Interview.csv')
df.head()

,Year,Month,Laptop/Desktop,Type_of_Customers?,Coming from,Place_in_India,Level 1,Level 2,Level 3,Level 4
0,2020,Jan,Desktop_Website,Existing_Customer,Came_From_LinkedIn,Bengaluru,NaN,NaN,56892,17178
1,2020,Jan,Desktop_Website,Existing_Customer,Came_From_LinkedIn,Hyderabad,NaN,NaN,41460,11916
2,2020,Jan,Desktop_Website,Existing_Customer,Came_From_LinkedIn,Dehradun,NaN,NaN,55561,19461
3,2020,Jan,Desktop_Website,Existing_Customer,Came_From_LinkedIn,Indore,NaN,NaN,320923,110667
4,2020,Jan,Desktop_Website,Existing_Customer,Came_From_LinkedIn,Pune,NaN,NaN,220937,46033

### Task B

In [8]:
df.dtypes

Year                    int64
Month                  object
Laptop/Desktop         object
Type_of_Customers?     object
Coming from            object
Place_in_India         object
Level 1               float64
Level 2               float64
Level 3                 int64
Level 4                 int64
dtype: object

### Task C

In [5]:
df['Place_in_India'].value_counts()

Dehradun     432
Hyderabad    432
Pune         432
Indore       432
Bengaluru    432
Name: Place_in_India, dtype: int64

### Task D

In [10]:
df.isnull().sum()

Year                     0
Month                    0
Laptop/Desktop           0
Type_of_Customers?       0
Coming from              0
Place_in_India           0
Level 1               1079
Level 2               1079
Level 3                  0
Level 4                  0
dtype: int64

In [11]:
df['Coming from'].value_counts()

Unidentified_Sources    720
Landed_Directly         720
Came_From_LinkedIn      720
Name: Coming from, dtype: int64

In [12]:
df['Type_of_Customers?'].value_counts()

Existing_Customer    1080
New_Customer         1080
Name: Type_of_Customers?, dtype: int64

### Task D contd.

This dataset may be assumed to belonging to Company that is currently trying to adapt to market. The Company only has customer base in few cities like Pune, Dehradun, Bengaluru, Indore & Hyderabad. It uses LinkedIn mostly for its marketing. Although, It also has quite good response from other unidentified sources. It provides different services across India. It helps me conclude that it is mainly EdTech or Health & Wellness Startup.

Under the assumption that this dataset can be from Flipkart , I think levels might represent levels of customers of company.     
It is observed that there is no data for Existence Customers in Level 1 & Level 2.

### Task E

In [19]:
df[(df['Type_of_Customers?'] == 'New_Customer') & (df['Place_in_India'] == 'Pune') & (df['Coming from'] == 'Came_From_LinkedIn')].value_counts()

Year  Month  Laptop/Desktop   Type_of_Customers?  Coming from         Place_in_India  Level 1   Level 2   Level 3  Level 4
2020  Apr    Desktop_Website  New_Customer        Came_From_LinkedIn  Pune            335205.0  259989.0  137750   97733      1
             Laptop_Website   New_Customer        Came_From_LinkedIn  Pune            514611.0  338502.0  169384   122740     1
2022  Dec    Desktop_Website  New_Customer        Came_From_LinkedIn  Pune            324090.0  168545.0  83423    56517      1
      Aug    Laptop_Website   New_Customer        Came_From_LinkedIn  Pune            432377.0  230944.0  94781    59242      1
             Desktop_Website  New_Customer        Came_From_LinkedIn  Pune            313142.0  166001.0  83818    58235      1
                                                                                                                             ..
2020  Sep    Laptop_Website   New_Customer        Came_From_LinkedIn  Pune            377626.0  266143.0  123408   83576      1
             Desktop_Website  New_Customer        Came_From_LinkedIn  Pune            264944.0  199691.0  99755    67906      1
      Oct    Laptop_Website   New_Customer        Came_From_LinkedIn  Pune            489665.0  345076.0  164313   110836     1
             Desktop_Website  New_Customer        Came_From_LinkedIn  Pune            351818.0  261724.0  127922   84424      1
2022  Sep    Laptop_Website   New_Customer        Came_From_LinkedIn  Pune            398733.0  208608.0  84518    52930      1
Length: 72, dtype: int64

## Part 1 : Data Cleaning

In [20]:
def data_cleaning():
    df['inc/dec percentage'] = (df['Level 1']-df['Level 4'])/df['Level 1'] * 100
    df['Month'].apply()
    df['Coming from'].replace(["Came_From_LinkedIn","Landed_directly"],["From LinkedIn","Direct_traffic"],inplace=True)

In [28]:
df['Coming from'].replace(["Came_From_LinkedIn","Landed_directly"],["From LinkedIn","Direct_traffic"],inplace=True)

## Part 2 : Descriptive Statistics

In [ ]:
def descriptive_stats():